body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(163, 163, 163);
  box-shadow: (0.4, 0, 0.2, 1);
}

.link {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.activeLink {
  color: rgba(56, 4, 245, 0.863);
  font-weight: 600;
}
.button {
  margin-left: 10px;
  width: 80px;
  height: 30px;
  font-size: 16px;
}
.navText {
  font-size: 18px;
}

.inputFilter {
  margin-left: 10px;
}
